/* GLOBAL STYLES */

:root {
  --ff-primary: "Peddana", serif;
  --ff-secondary: "Rancho", cursive;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.25rem;

  --fs-mobile-h1: 1.5rem;
  --fs-mobile-h2: 1.25rem;

  --fs-xxl: 4.5rem;
  --fs-xl: 3.5rem;
  --fs-l: 2rem;
  --fs-m: 1.5rem;

  --clr-light: #f3f3f3;
  --clr-dark: #000;
  --clr-magenta: #bf0449;
  --clr-violet: #583f8c;
  --clr-skyblue: #05c7f2;
  --clr-teal: #03a6a6;
  --clr-gold: #f2d98d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  line-height: 1.2;
}

a {
  text-decoration: none;
}

main,
article,
section {
  display: flex;
  justify-content: center;
}

article {
  flex-direction: column;
  margin: 2rem 2rem 8rem;
}

section {
  margin: 2rem 0;
}

.two-columns {
  flex-direction: column;
}

@media (min-width: 600px) {
  article {
    margin: 2.75rem 2rem 1rem;
  }

  .two-columns {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .mobile-centered {
    align-items: center;
  }
}

.centered {
  justify-content: center;
  align-items: center;
}

/* TYPOGRAPHY */

h1 {
  font-size: var(--fs-mobile-h1);
}

h2 {
  font-size: var(--fs-mobile-h2);
}

/* COMPONENTS */

.loading-images {
  position: relative;
  font-size: var(--fs-h1);
  font-family: var(--ff-secondary);
  color: var(--clr-teal);
  animation-name: loading;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    color: var(--clr-violet);
    left: -150px;
  }
  25% {
    color: var(--clr-skyblue);
    left: 0px;
  }
  50% {
    color: var(--clr-magenta);
    left: 150;
  }
  75% {
    color: var(--clr-teal);
    left: 0px;
  }
  100% {
    color: var(--clr-gold);
    left: -150px;
  }
}

.card {
  height: 250px;
  width: 200px;
  border: 4px solid var(--clr-violet);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.card-disabled {
  opacity: 50%;
}

.card img {
  display: block;
  height: 200px;
  width: 191px;
}

.card a {
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
}

.card-disabled a {
  cursor: not-allowed;
}

.card__label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-skyblue);
  height: 42px;
  width: 100%;
}

.modal__title {
  margin-bottom: 1rem;
  font-size: var(--fs-xl);
  font-family: var(--ff-secondary);
  color: var(--clr-skyblue);
}

.modal__subtitle {
  font-size: var(--fs-l);
}

.modal__label {
  font-size: 22px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  background-color: var(--clr-violet);
}

.header a {
  color: var(--clr-light);
}

/* HOME PAGE */

.home__instructions-section {
  margin: 0;
}

.home__title,
.home__instructions {
  text-align: center;
}

.home__title {
  font-family: var(--ff-secondary);
}

.home__collection-title {
  font-size: var(--fs-h2);
}

.home__collection-count {
  margin-top: 1.25rem;
  font-size: 1.5rem;
}

.home__instructions {
  width: 300px;
}

@media (min-width: 600px) {
  .home__title {
    font-size: var(--fs-h1);
  }
  .home__instructions {
    width: 63%;
  }
}

/* CATCH PAGE */

.catch__title,
.catch__subtitle {
  text-align: center;
}

.catch__pokemons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  max-width: 1025px;
}

.catch__thumbnail {
  cursor: pointer;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px rgba(88, 63, 140, 0.25));
}

.catch__thumbnail:focus,
.catch__thumbnail:hover {
  filter: drop-shadow(5px 5px 5px rgba(88, 63, 140, 0.95));
  transform: scale(1.05);
  outline: none;
}

.catch__thumbnail-active {
  border-radius: 50%;
  box-shadow: 0 0 1 5px var(--clr-dark);
  outline: none;
}

.catch__thumbnail-active img {
  border-radius: 50%;
}

.catch__thumbnail img {
  display: block;
  width: 100px;
  height: 100px;
}

@media (min-width: 600px) {
  .catch__title,
  .catch__subtitle {
    line-height: 40px;
    width: auto;
  }
  .catch__title {
    font-size: var(--fs-h1);
  }
  .catch__subtitle {
    font-size: var(--fs-h2);
  }
  .catch__thumbnail img {
    width: 175px;
    height: 175px;
  }
}

/* POKEMON PAGE */

.pokemon__details-section {
  margin-top: 1rem;
}

.pokemon__back {
  display: flex;
  color: var(--clr-dark);
  font-size: var(--fs-m);
  letter-spacing: 0.8px;
  margin-bottom: 0.5rem;
}

.pokemon__back p {
  margin-top: 1px;
}

.pokemon__back:hover,
.pokemon__back:focus {
  -webkit-text-stroke-width: 0.6px;
}

.pokemon__hero {
  border: 4px solid var(--clr-magenta);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.pokemon__hero img {
  display: block;
  width: 250px;
  height: 250px;
}

.pokemon__name {
  font-size: var(--fs-xxl);
  color: var(--clr-magenta);
  line-height: 60px;
}

.pokemon__details {
  font-size: var(--fs-l);
  text-align: center;
}

@media (min-width: 600px) {
  .pokemon__back {
    display: flex;
    color: var(--clr-dark);
    font-size: var(--fs-m);
    letter-spacing: 0.8px;
  }
  .pokemon__details {
    text-align: left;
  }
}
